<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Final_Project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wims.whereismystore.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.wims.whereismystore.JoinActivity"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.SaleActivity"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Fragment1"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Fragment2"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Fragment3"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Fragment4"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Fragment5"
            tools:ignore="Instantiatable">
        </activity>


    </application>

</manifest>