<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wims.whereismystore">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 파일 쓰기 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 카메라 기능 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Class.Users"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ReportPostActivity"></activity>
        <activity android:name=".Activity.ReportUserActivity" />
        <activity android:name=".Activity.SaleFindActivity" />
        <activity android:name=".Activity.UserUploadPostActivity" />
        <activity android:name=".Activity.ChangePassInfo" />
        <activity android:name=".Activity.PasswordCheckActivity" />
        <activity android:name=".Activity.PerInfoActivity" />
        <activity android:name=".Activity.WriterUserInfoActivity" />
        <activity android:name=".Activity.SaleItemViewActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.JoinActivity">
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Activity.SaleActivity"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.SaleUploadActivity"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.WebViewActivity"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.Fragments.Fragment1"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.Fragments.Fragment2"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.Fragments.Fragment3"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.Fragments.Fragment4"
            tools:ignore="Instantiatable"></activity>
        <activity
            android:name=".Activity.Fragments.Fragment5"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            tools:ignore="DuplicateActivity,Instantiatable" />
        <activity
            android:name=".Activity.PasswordCheckActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Activity.PerInfoActivity"
            tools:ignore="DuplicateActivity,Instantiatable" />
        <activity android:name=".Activity.ChattingActivity" />



        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_color"
            android:resource="@color/colorAccent" />
            tools:ignore="Instantiatable" />
    </application>

</manifest>