<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Final_Project">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name = "com.wims.whereismystore.Class.Users"
        >
        <activity android:name="com.wims.whereismystore.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.JoinActivity">
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.SaleActivity"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.Fragment1"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.Fragment2"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.Fragment3"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.Fragment4"
            tools:ignore="Instantiatable">
        </activity>

        <activity android:name="com.wims.whereismystore.Activity.Fragment5"
            tools:ignore="Instantiatable">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWJUujGMWooaqCsOhvCZZccw_hw5B-U1k" />

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>